<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>Anonymous Message Board</h1>
    <p><%= locals.user ? "Welcome back "+user.first_name+"!" : "Logged out" %></p>
    <% locals.msgs.forEach(msg => {%>
        <div class="message">
            <h3><%= msg.author_id %></h3>
            <h2><%= msg.title %></h2>
            <p><%= msg.content %></p>
        </div>
    <% }) %>
    <div id="links">
        <a href="/newMessage">Create Message</a>
        <a href="/Logout">Log out</a>
    </div>
</body>
</html>