<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>Anonymous Message Board</h1>
    <p>Logged Out</p>
    <% //locals.msgs.forEach(msg => {%>
        <div class="message">
            <h3>Author</h3>
            <h2>Title!</h2>
            <p>Message here! ayo!</p>
        </div>
    <% //}) %>
    <div class="message">
        <h3>Author</h3>
        <h2>Title!</h2>
        <p>Message here! ayo!</p>
    </div>
    <div class="message">
        <h3>Author</h3>
        <h2>Title!</h2>
        <p>Message here! ayo!</p>
    </div>
    <div class="message">
        <h3>Author</h3>
        <h2>Title!</h2>
        <p>Message here! ayo!</p>
    </div>
    <div id="links">
        <a href="">Create Message</a>
    </div>
</body>
</html>